body {
    background: url(../img/background.png) no-repeat;
    background-position: center top;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}

.main-header {
    padding-top: 49px;
    padding-bottom: 47px;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    display: block;
    position: relative;
    background: url(../img/logo.png) no-repeat;
    text-decoration: none;
}

.logo-link-highlighted {
    position: absolute;
    background: url(../img/logo.orange.png) no-repeat;
    left:0;
    bottom:0;
    right:0;
    top:0;
    display: none;
}

.logo-link-name-first-line {
    font-family: Verdana, Serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 60px;
    margin-bottom: 8px;
    line-height: 21px;
}

.logo-link-name-second-line {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 60px;
    line-height: 17px;
}

.logo-link:hover .logo-link-highlighted,
.logo-link:hover .logo-link-name-first-line,
.logo-link:hover .logo-link-name-second-line {
    display: block;
    color: #f26522;
}

.main-header-contacts {
    display: flex;
    align-items: center;
    text-align: right;
    line-height: 21px;
}

.main-header-contacts-link {
    display: block;
    text-decoration: none;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.attractions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attraction-item {
    width: 307px;
    margin-bottom: 98px;
    position: relative;
}

.attraction-img {
    display: block;
    width: 100%;
}

.attraction-details {
    position: absolute;
    transform: translate(0, -99%); /*если выставляю -100% на некоторых картинках остается минимальный зазор */
}

/*.attraction-item:nth-child(3n) {*/
    /*margin-right: 0;*/
/*} не уверена нужно ли здесь это св-во*/

.attraction-details-link {
    display: block;
    width:307px;
    height:63px;
    text-decoration: none;
    position: relative;
}

.attraction-details-link-block {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background-color: #f26522;
    box-sizing: border-box;
    padding: 16px 17px 17px 21px;
    display: none;
}

.attraction-description {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 470%);
    width: 307px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.attraction-details-link:hover .attraction-details-link-block,
.attraction-details-link:hover .attraction-description{
    display: block;
    color: #f26522;
}

.attraction-details-first-line, .attraction-details-second-line {
    display: flex;
    justify-content: space-between;
}

.attraction-details-first-line {
    margin-bottom: 7px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
}

.attraction-details-second-line {
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
}

.attraction-more-info::after {
    content: url("../img/arrow.png");
    padding-left: 15px;
}

.footer-details {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
