body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.menu-top-link {
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
}

.menu-top {
    text-align: center;
    margin-bottom: 10px;
}

.img-top {
    text-align: center;
}

.content-title {
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.content-text {
    color: #373737;
    font-weight: 900;
    font-size: 16px;
    padding: 5px 25px 20px 25px;
    text-align: center;
}

.content {
    padding: 5px 25px 20px 25px;
    background-color: #e6e6e6;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: mediumseagreen;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 130px;
    height: 35px;
    text-align: center;
}

.footer {
    padding: 5px 25px 20px 25px;
}

.copyright {
    color:  #373737;
    font-weight: 900;
    text-align: right;
}