/*.body {*/
    /*font-family: Roboto, sans-serif;*/
/*}*/

.container {
    width: 1250px;
    margin: 0 auto;
}

.header {
    margin-top: 61px;
    margin-bottom: 51px;
    font-family: Roboto, sans-serif;
}

.header-title {
    margin-bottom: 45px;
}

.header-title-link {
    font-size: 80px;
    text-decoration: none;
}

.black-text {
    color:black;
}

.blue-text {
    color: #4bcaff;
}

.menu-top {
    background-color: #35444f;
    text-align: center;
}

.menu-top-item {
    display: inline-block;
}

.menu-top-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    padding: 26px 42px 21px 42px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}

.menu-top-link:hover {
    background-color: rgb(34, 47, 58);
    border-left: 1px solid;
    border-right: 1px solid;
}

.main {
    font-family: Roboto, sans-serif;
}

.left-sidebar {
    float: left;
}

.left-menu {
    border: 1px solid black;
    width: 342px;
    box-sizing: border-box;
}

.left-menu-link {
    text-decoration: none;
    font-size: 26px;
    display: inline-block;
    padding: 28px 0 28px 44px;
    color: #485863;
}

.left-menu-link:hover {
    background-color: rgb(220, 220, 220);
    padding-left: 69px;
    color: #000000;
}

.left-menu-item:hover {
    background-color: rgb(220, 220, 220);
}

.content {
    float: right;
    width: 885px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}

.content-main-img {
    border: 1px solid;
    padding: 74px 0 74px 0;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content-main-text {
    padding: 50px 40px 50px 40px;
    text-align: left;
}

.first-paragraph {
    margin-bottom: 30px;
}

.footer {
    font-family: Roboto, sans-serif;
}

.menu-bottom {
    background-color: rgb(181, 184, 187);
    padding: 17px 34px 15px 44px;
    margin-bottom: 37px;
}

.menu-bottom-item {
    display: inline-block;
    margin-right: 20px;
}

.menu-bottom-link {
    text-decoration: none;
    font-size: 28px;
    display: inline-block;
    color: #0c1927;
    border-bottom: 2px solid rgb(181, 184, 187);
    line-height: 1.3;
}

.menu-bottom-link:hover {
    border-bottom: 2px solid #3181a6;
}

.menu-bottom-item.copyright {
    float: right;
    font-size: 24px;
    display: inline-block;
    border-bottom: 2px solid rgb(181, 184, 187);
    line-height: 1.6;
}
